/* any styles we want to apply globally should go here */

body {
  margin: 0;
  background-color: aqua;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  width: 50%;
  padding: 12px 20px;
  margin-bottom: 2%;
}

textarea {
  width: 50%;
  padding: 12px 20px;
  margin: 2%;
}

button {
  margin-bottom: 1%;
  border-radius: 9%;
  padding: 1%;
  width: 19em;
  color: black;
  font-weight: 900;
  background-color: aqua;
}

button:hover {
  background-color: aquamarine;
}